Host *
	ServerAliveInterval 300
	ServerAliveCountMax 2

Host sch-worker-1
HostName 192.168.56.49
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-2
HostName 192.168.56.45
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-3
HostName 192.168.56.31
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-4
HostName 192.168.56.36
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-5
HostName 192.168.56.47
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-6
HostName 192.168.56.4
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-7
HostName 192.168.56.39
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-8
HostName 192.168.56.3
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-9
HostName 192.168.56.51
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-10
HostName 192.168.56.34
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-11
HostName 192.168.56.46
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-12
HostName 192.168.56.43
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-13
HostName 192.168.56.41
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-14
HostName 192.168.56.48
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-15
HostName 192.168.56.5
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-16
HostName 192.168.56.30
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-17
HostName 192.168.56.44
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-18
HostName 192.168.56.35
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-19
HostName 192.168.56.42
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-worker-20
HostName 192.168.56.52
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-master-1
HostName 192.168.56.37
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-orchestra-1
HostName 192.168.56.33
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL


Host sch-gateway
HostName 192.168.56.38
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_sch -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.220
IdentityFile ~/.ssh/id_rsa_sch
IdentitiesOnly yes
LogLevel FATAL
