# Qserv operator CI workflow
---
name: "CI"
on:
  push:
  pull_request:
    branches:
      - master
jobs:
  main:
    name: Run k8s exercices
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Stop apparmor
        run: |
          sudo /etc/init.d/apparmor stop
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21.4'
      - name: Create k8s/kind cluster
        run: |
          go install github.com/k8s-school/ktbx@v1.1.3-rc1
          ktbx create -s
          kubectl get nodes
          kubectl get pods -n kube-system
      - name: Run job labs
        run: |
          DIR="$PWD/labs/1_kubernetes/.solution"
          echo "Installing queue server"
          $DIR/QUEUE-install.sh
          $DIR/QUEUE-test.sh
      - name: Run mongo lab
        run: |
          DIR="$PWD/labs/1_kubernetes/.solution"
          echo "Installing MongoDB"
          $DIR/MONGODB-install.sh
          $DIR/MONGODB-test.sh


