# Qserv operator CI workflow
---
name: "CI"
on:
  push:
  pull_request:
    branches:
      - master
jobs:
  main:
    name: Run k8s exercices
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Stop apparmor
        run: |
          sudo /etc/init.d/apparmor stop
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21.4'
      - name: Create k8s/kind cluster
        run: |
          go install github.com/k8s-school/ktbx@v1.1.2-rc2
          ktbx -s
          kubectl get nodes
          kubectl get pods -n kube-system
      - name: Run test on helm
        run: |
          ./labs/helm/ci.sh
